<?xml version="1.0"?>
<config>
    <modules>
        <Komplizierte_Shoppilot>
            <version>0.1.0</version>
        </Komplizierte_Shoppilot>
    </modules>
    <global>
        <models>
            <komplizierte_shoppilot>
                <class>Komplizierte_Shoppilot_Model</class>
                <resourceModel>komplizierte_shoppilot_resource</resourceModel>
            </komplizierte_shoppilot>
            <komplizierte_shoppilot_resource>
                <class>Komplizierte_Shoppilot_Model_Resource</class>
            </komplizierte_shoppilot_resource>
        </models>
        <blocks>
            <komplizierte_shoppilot>
                <class>Komplizierte_Shoppilot_Block</class>
            </komplizierte_shoppilot>
        </blocks>
        <helpers>
            <komplizierte_shoppilot>
                <class>Komplizierte_Shoppilot_Helper</class>
            </komplizierte_shoppilot>
        </helpers>
        <resources>
            <komplizierte_shoppilot_setup>
                <setup>
                    <module>Komplizierte_Shoppilot</module>
                </setup>
            </komplizierte_shoppilot_setup>
        </resources>
        <events>
            <sales_order_save_after>
                <observers>
                    <shoppilot_update_order>
                        <method>update</method>
                        <class>Komplizierte_Shoppilot_Model_Observer</class>
                    </shoppilot_update_order>
                </observers>
            </sales_order_save_after>
        </events>
    </global>

    <frontend>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <shoppilot_save_order>
                        <type>singleton</type>
                        <method>send</method>
                        <class>Komplizierte_Shoppilot_Model_Observer</class>
                    </shoppilot_save_order>
                </observers>
            </checkout_type_onepage_save_order>
        </events>
        <layout>
            <updates>
                <shoppilot>
                    <file>komplizierte/shoppilot.xml</file>
                </shoppilot>
            </updates>
        </layout>
    </frontend>
    <default>
        <komplizierte_shoppilot>
            <main>
                <token>300</token>
            </main>
        </komplizierte_shoppilot>
    </default>
</config>